<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.happypet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.CAMERA"
        android:required="true"
        android:requiredFeature="true"
        tools:targetApi="o" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-feature android:name="android.hardware.camera.autofocus" />



    <queries>
        <package android:name="com.facebook.katana" />
    </queries>
    <queries>
        <provider
            android:authorities="com.facebook.katana.provider.PlatformProvider"
            android:exported="false" /> <!-- allows app to access Facebook app features -->
        <provider
            android:authorities="com.facebook.orca.provider.PlatformProvider"
            android:exported="false" /> <!-- allows sharing to Messenger app -->
    </queries>

    <application

    android:name=".util.ApplicationImpl"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HappyPet"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">




        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
        <uses-library android:name="com.google.android.maps" />



        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token"
            tools:replace="android:value" />



        <activity
            android:name=".activity.MyAppointmentsDoctorActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DrawerBaseDoctorActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MyAppointmentsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DoctorHomeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DoctorRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ChooseRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MyPetsActivity"
            android:exported="false" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token"
            tools:replace="android:value" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider523732319315186"
            android:exported="false" />

        <activity
            android:name=".activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MapsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DrawerBaseActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AddNewPetActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AddAppointmentActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SeeAppointmentActivity"
            android:exported="true"
            android:parentActivityName=".activity.MyAppointmentsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DoctorProfileActivity"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.BROWSABLE" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                 <category android:name="android.intent.category.BROWSER" />
                <data
                    android:host="www.animalute-fericite-myapp.ro"
                    android:scheme="http" />
            </intent-filter>
        </activity>
    </application>

</manifest>